/* Header styles */

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuIcon {
  display: none;
}

.logo {
  height: 80px;
  width: 200px;
  position: relative;
  margin-bottom: 0.5rem;
}

.buttonStyles {
  padding: 6px 8px;
  border-radius: 4px;
}

.buttonStyles:hover {
  background-color: var(--pure-white);
  color: var(--red);
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropDown {
  position: relative;
  text-transform: capitalize;
}

.parentMenu {
  /* display: none; */
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 250ms;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: var(--shadow);
  color: rgba(0, 0, 0, 0.87);
  background: var(--pure-white);
  border-radius: 4px;
  width: 30ch;
  z-index: 1001; /* has to be higher than the map */
}

.parentMenu a {
  min-height: 45px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.parentMenu a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.childMenu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
  transition-delay: 200ms;
  top: 0;
  left: 100%;
  width: 30ch;
  border-radius: 4px;
  background: var(--pure-white);
  z-index: 30;
}

.parentMenu a:hover .childMenu {
  box-shadow: var(--shadow);
  max-height: 100vh;
  transition: max-height 1s ease-in-out 200ms;
  z-index: 31;
}

.dropDown:hover .parentMenu {
  visibility: visible;
}

.collapseOpen,
.collapseOpen svg {
  background: var(--red);
  color: var(--pure-white);
}

/* Whatsapp link */

.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #2db742;
  color: var(--pure-white);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.whatsapp svg {
  transition: transform 0.5s ease-in-out;
}

.whatsapp:hover svg {
  transform: rotate(50deg);
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.09, 1.96);
}

/* Footer styles part 1: modals */

.modalGrid {
  display: grid;
  grid-template-areas: "modalGrid";
  position: relative;
  height: 30vh;
  place-items: center;
  color: rgba(0, 0, 0, 0.7);
}

.modalGrid > * {
  grid-area: modalGrid;
}

.modalGridContent {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.modalGridContent :where(button, a) {
  border: none;
  background: var(--pure-white);
  border-radius: 4px;
  padding: 1rem;
  max-width: 250px;
  box-shadow: var(--shadow);
  transition: transform ease-in-out 0.5s;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalGridContent :where(button, a):hover {
  transform: scale(1.05);
}

/* Footer styles part 2: address, links, social media */

.completeFooter {
  background: var(--red);
  color: var(--pure-white);
}

.informationGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  padding-block: 1rem;
}

.logoWrapper {
  grid-column: 1 / -1;
}

.informationColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.informationColumn a:hover {
  text-decoration: underline;
}

.addressData {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
}

.socialMedia {
  text-align: right;
}

.iconWrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  /* header styles */
  .menuIcon {
    display: block;
  }

  .logo {
    height: 60px;
  }

  .navigation {
    display: none;
  }

  /* whatsapp */

  .whatsapp {
    width: 3rem;
    height: 3rem;
    bottom: 20px;
    right: 20px;
  }
  /* footer styles */

  .modalGrid {
    height: auto;
  }

  .modalGridContent {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }

  .modalGridContent svg {
    display: none;
  }

  .informationGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .informationColumn {
    display: none;
  }

  .socialMedia {
    text-align: center;
    margin-top: 0.5rem;
  }

  .socialMedia > p {
    display: none;
  }

  .iconWrapper {
    justify-content: center;
  }
}
