.headerFlex {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  display: none;
}

.logo {
  height: 80px;
}

.menuItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .logo {
    height: 60px;
  }

  .navigation {
    display: none;
  }
}
