.app-container {
  width: 100%;
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.grey-text {
  color: var(--grey);
}

.red-text {
  color: var(--red);
}

.breadcrumbs {
  color: var(--red);
  padding-block: 1rem;
}

.breadcrumbs p {
  text-decoration: underline;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* swiper slider styles */

#four-column-slider {
  background: #edebeb;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.swiper-slide {
  /* make every item stretch over whole slider height */
  height: auto !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background-color: var(--red);
  color: var(--pure-white);
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.rounded {
  border-radius: 4px;
}

.bold {
  font-weight: bold;
}
